
.welcome-section {
  margin-top: 20px;
  text-align: center;
}

.content-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.employee-list-container {
  margin-bottom: 20px;
}

.toggle-button {
  width: 390px;
  background-color: #5730b9;
  color: #fff;
  border: none;
  padding: 10px 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.toggle-button.active {
  background-color: #a730b9;
}

.toggle-button.active:hover {
  background-color: #6700a6;
}

.content-box {
  flex: 0 0 calc(33.33% - 20px);
  background-color: #f0f0f0;
  padding: 20px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .content-box {
      flex: 0 0 calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .content-box {
      flex: 0 0 100%;
  }
}

