/* In the EmployeeList.css file */

.employee-list {
    margin-top: 20px; /* Add space above the employee list */
}

.employee-list h2 {
    margin-bottom: 10px; /* Add space below the heading */
}

.employee-list ul {
    list-style-type: none; /* Remove the list-style */
    padding: 0; /* Remove the padding */
    margin: 0; /* Remove the margin */
}

.employee-list li {
    margin-bottom: 5px; /* Add space between each employee */
}

.employee-role {
    float: right; /* Align the employee role to the right */
    margin-left: 10px; /* Add space between the name and role */
}

.pagination {
    margin-top: 20px; /* Add space above the pagination */
    display: flex; /* Use flexbox to align the elements */
    justify-content: center; /* Align items horizontally */
    align-items: center; /* Align items vertically */
}

.small-button {
    font-size: 12px; /* Set the font size */
    padding: 4px 4px; /* Set the padding */
    margin: 0 10px; /* Set the margin */
    flex: auto;
}
