/* În fișierul Dashboard.css sau orice alt fișier CSS relevant */
ul {
    list-style-type: none; /* Elimină stilul de marcator */
    padding: 0; /* Elimină marginile interne ale listei */
    margin: 0; /* Elimină marginile externe ale listei */
}
.pagination {
    margin-top: 20px; /* Adaugă spațiu între butoanele de paginare și conținutul boxului */
    display: flex; /* Utilizează flexbox pentru a alinia elementele */
    justify-content: center; /* Aliniază elementele în centru */
    align-items: center; /* Alignează vertical elementele */
}

.pagination-display {
    margin-bottom: 10px; /* Adaugă spațiu între afișajul de pagini și butoanele de navigare */
}

.small-button {
    font-size: 12px; /* Dimensiunea textului */
    padding: 2px 4px; /* Spațierea internă */
    margin-right: 20px; /* Adaugă spațiu între butoane */
    margin-left: 20px;
}
.employee-text {
    float: right;
    margin-left: 10px; 
}
