.register-container {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
}

.register-title {
  margin-bottom: 40px;
  color: #fff;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%; 
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input-field:focus::placeholder {
  color: transparent; 
}

.container {
  display: flex; 
  justify-content: center;
  align-items: center;
}

button {
  width: 80%;
  padding: 5px 10px; /* ajustăm padding-ul pentru a fi mai compact */
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: #fff;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s; /* adăugăm o tranziție pentru efectul de hover */
}

button:hover {
  background-color: #0056b3;
}
